cython
Pillow==9.5.0
albumentations
opencv-python==4.7.0.72
imageio
imageio-ffmpeg
omegaconf
test-tube
streamlit
einops
transformers
webdataset
kornia
open_clip_torch
torchmetrics
timm
addict
yapf
safetensors
basicsr
jieba
modelscope
tensorflow
easydict
xformers
subword-nmt
sacremoses
sentencepiece
fsspec
typing-extensions==4.8.0
nvidia-dali-cuda120